<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />




<div class=".container-fluid hero home">
    <div class="top-bar">
        <div class="nav">
            <!-- <img src="/public/828288_preview.jpg" alt=""> -->
            <button class="btn">Home</button>
            <button class="btn">Hotels</button>
            <button class="btn">Experiences</button>
            <button class="btn">About</button>
        </div>

        <div class="search">
            <input type="text">

            <i class="fa-solid fa-magnifying-glass"></i>

            <button class="btn-login">Login</button>
        </div>



    </div>

    <div class="midSection">
        <h2 class="Experience">The Ultimate Hotel Experience</h2>
        <h1 class="Discover">Discover luxury and comfort like never before</h1>
        <p>Unparalleled luxury and comfort await at the world's most exclusive
            hotels and resorts. Start your journey today.</p>

        <div class="hero-search">
            <div class="search-item">
                <i class="fa-solid fa-location-dot"></i>
                <div class="text">
                    <span class="label">Destination</span>
                    <span class="value">Dubai</span>
                </div>
            </div>

            <div class="divider"></div>

            <div class="search-item">
                <i class="fa-regular fa-calendar"></i>
                <div class="text">
                    <span class="label">Check in</span>
                    <span class="value">Mar 15, 2025</span>
                </div>
            </div>

            <div class="divider"></div>

            <div class="search-item">
                <i class="fa-regular fa-calendar"></i>
                <div class="text">
                    <span class="label">Check out</span>
                    <span class="value">Mar 20, 2025</span>
                </div>
            </div>

            <div class="divider"></div>

            <div class="search-item">
                <i class="fa-solid fa-user-group"></i>
                <div class="text">
                    <span class="label">Guests</span>
                    <span class="value">2</span>
                </div>
            </div>

            <button class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
                Search
            </button>
        </div>

    </div>

</div>


<div class="container-fluid hero Featured">

    <div class="top-heading">
        <h1 class = "play-fair">Featured Hotels</h1>
        <p class="outfit-sans">Discover our handpicked selection of exceptional properties around the world, offering unparalleled luxury and unforgettable experiences</p>
    </div>


    <div class="Hotel-List">
        <ul>

            <li>

                <img src="/Hotel1.png" alt="">
                <h3>Grand Palace Hotel</h3>
                <i class="fa-solid fa-star">4.9</i>
                <p>New York, USA</p>
                <span class="price">$350/night</span>
                <button>View Details</button>
            </li>
            <li>

                <img src="/Hotel1.png" alt="">
                <h3>Grand Palace Hotel</h3>
                <i class="fa-solid fa-star">4.9</i>
                <p>New York, USA</p>
                <span class="price">$350/night</span>
                <button>View Details</button>
            </li>
            <li>

                <img src="/Hotel1.png" alt="">
                <h3>Grand Palace Hotel</h3>
                <i class="fa-solid fa-star">4.9</i>
                <p>New York, USA</p>
                <span class="price">$350/night</span>
                <button>View Details</button>
            </li>
            <li>

                <img src="/Hotel1.png" alt="">
                <h3>Grand Palace Hotel</h3>
                <i class="fa-solid fa-star">4.9</i>
                <p>New York, USA</p>
                <span class="price">$350/night</span>
                <button>View Details</button>
            </li>
        </ul>


        <button>View All Hotels</button>
    </div>
</div>


<div class="container-fluid hero Offers">

    <div class="top-heading">
        <h1 class = "play-fair">Special Offers</h1>
        <p class="outfit-sans">Unlock exclusive deals and discounts on luxury hotel stays worldwide. Book now and experience unparalleled comfort and elegance at unbeatable prices</p>
    </div>
</div>